.first {
    margin-top: 5%;
    width: 100%;
    float: left;
}
.second {
    width: 50%;
    height: 799px;
    background-color: rgb(130 205 177);
    float: right;
    padding: 15% 5% 10% 10%;
    text-align: center;
    color: white;
}

h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#but {
    height: 40px;
    width: 140px;
    border: 1px solid white;
    background-color: rgb(130 205 177);
    margin-top: 10%;
    -webkit-transition: .5s background-color ease;
    -moz-transition: .5s background-color ease;
    -o-transition: .5s background-color ease;
    transition: .5s background-color ease;
}
#but:hover {
    background-color: white;
    color: rgb(130 205 177);
}