.about {
    background-color: white;
    height: 920px;
    text-align: center;
}
#title {
    margin-top: 8%;
    text-align: center;
    opacity: .7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#journey {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    /* margin-bottom: %; */
    color: black;
    opacity: .9;
}
/* .jumbotron {
    background-color: blue;
    height: 500px;
    margin-top: -4%;
} */
h2 {
    padding: 5% 15% 15% 15%;
    opacity: .8;
 }

 .under {
     justify-content: center;
     width: 75%;
     margin-left: 12%;
     border-bottom: 1px solid rgb(130 205 177);
 }

 #para {
     margin-top: -10%;
     height: 480px;
     padding-top: 8%;
     font-size: 16px;
     color: black;
     word-wrap: normal;
     text-align: center;
     text-align-last: center;
     /* border: 3px solid rgb(130 205 177); */
 }
 
 #the {
     float: left;
     margin: -10% 2% 2% 2%;
     /* border: 3px solid rgb(130 205 177); */
 }
